body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1c1c;
    margin: 0;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: #ff4757;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 71, 87, 0.5);
    animation: pulse 1.5s infinite ease-in-out ;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 71, 87, 0.5);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 20px rgba(255, 71, 87, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 71, 87, 0.5);
    }
}